body {
  width: 760px;
  margin-left: 100px;
}

div#logo img {
  height: 70px;
  float: right;
  padding-bottom: 10px;
  vertical-align: bottom;
}

div#logo {
  width: 100%;
  float: left;
  color: #0790c0;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 5px solid;
}

span#logo-text {
  font-weight: bold;
  font-size: 25pt;
}

div#container {
  width: 760px;
  margin: 0px auto;
  padding: 0px;
}

div#top-buttons {
}

div#top-buttons ul {
  padding: 0px;
  text-align: left;
  position: relative;
  margin: 0px;
}

div#top-buttons li {
  display: inline;
  text-align: center;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid;
  background: #e8e8e8;
  font-weight: bold;
}

div#search-form {
  padding: 0px;
  margin: 0px;
}

div#search-form form {
  display: inline;
}

div#search-form td {
  margin: 0px;
  padding: 0px;
}

div#nav-box {
  float: right;
  width: 190px;
  margin-bottom: 20px;
}

div#nav-button {
  margin: 0px 0px 0px 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

div#nav-item {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border: 1px solid #aaaaaa;
  background: #e8e8e8;
  background-image: linear-gradient(bottom, rgb(255,247,255) 13%, rgb(240,240,240) 57%);
  background-image: -o-linear-gradient(bottom, rgb(255,247,255) 13%, rgb(240,240,240) 57%);
  background-image: -moz-linear-gradient(bottom, rgb(255,247,255) 13%, rgb(240,240,240) 57%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,247,255) 13%, rgb(240,240,240) 57%);
  background-image: -ms-linear-gradient(bottom, rgb(255,247,255) 13%, rgb(240,240,240) 57%);

  background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0.13, rgb(255,247,255)),
	  color-stop(0.57, rgb(240,240,240))
  );
  border-radius: 4px;
  box-shadow: 0px 3px 10px #cccccc;
}

div#current-nav {
  color: #000000;
}

div#donate-blurb {
  font-size: 10pt;
  font-weight: normal;
  text-align: left;
  padding: 5px;
}

div#donate-form {
  font-size: 10pt;
  font-weight: normal;
  text-align: left;
}

div#bitcoin{
  font-size: 10pt;
  text-align: left;
}

div#bitcoinaddress{
  font-size: 6pt;
  text-align: center;
}

div.donate-field {
  font-weight: bold;
  padding: 5px;
}

body {
  font-family: arial,sans-serif;
  font-weight: normal;
  font-size: medium;
  background: white;
  color: black;
}

a {
  text-decoration: none;
}

a:link {
  color: #0790c0;
}

a:hover {
  color: #1b1c7d;
}

div#code {
margin-left: 30px;
margin-right: 30px;
padding: 5px;
background-color: #d0d0d0;
color: #000000;
}

/* the page content */

div#content {
  float: left;
  width: 540px;
  margin-bottom: 20px;
  text-align: justify;
}

/* For all page footers */

div#footer {
  clear: both;
  font-size: x-small;
  text-align: center;
  border-top: 1px solid;
}

dt {
  font-weight: bold;
  margin-top: 7px;
}

dd {
}

h1 {
  font-size: 16pt;
  font-weight: bold;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
}

h3 {
  font-size: 12pt;
  font-weight: bold;
}
